# {{ ansible_managed }}
{% if bluebook_sysctl_config|length > 0 %}

{%  for key, value in bluebook_sysctl_config.items() %}
{%    if value is string %}
{{ key }} = {{ value|string }}
{%    elif value is number %}
{{ key }} = {{ value|int }}
{%    else %}
{{ key }} = {{ value }}
{%    endif %}
{%  endfor %}
{% endif %}
